ELEVENLABS_API_KEY=
ELEVENLABS_MODEL_ID=eleven_multilingual_v2
ELEVENLABS_OUTPUT_FORMAT=mp3_44100_128
VOICE_ID_FATHER=
VOICE_ID_MOTHER=
VOICE_ID_SON=
VOICE_ID_DAUGHTER=
VOICE_ID_AUNTY=
VOICE_ID_UNCLE=
VOICE_ID_GRANDFATHER=
VOICE_ID_GRANDMOTHER=
